.profile-main .main-right {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 4px;
    width: 900px;
    min-width: 300px;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 15px;
}

.profile-main .main-right .main-right-top {
    height: 100px;
    min-height: 100px;
    border-bottom: 1px solid #DEDEDE;
}

.profile-main .main-right .main-right-top h3 {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #222A30;
    margin-left: 40px;
    margin-top: 40px;
}

label {
    height: 18px;
    width: 125px;
    color: #849FB1;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 18px;
}

input {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    width: 280px;
    height: 35px;
    margin-top: 15px;
}

.profile-main .main-right .main-right-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    font-family: Helvetica;
    margin-top: 50px;
    margin-bottom: 150px;
}

.profile-main .main-right .main-right-form .main-right-form-inputs { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.profile-main .main-right .main-right-form .main-right-form-inputs section { 
    margin-top: 20px;
}

.profile-main .main-right .main-right-form .main-right-form-inputs button {
    width: 289px;
    height: 40px;
    background: #F71117;
    border-radius: 4px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
    font-weight: bold;
    border: 3px solid #F71117;
    margin-top: 17px;
}

.profile-main .main-right .main-right-form .main-right-form-image {
    margin-bottom: 80px;
}

.profile-main .main-right .main-right-form .main-right-form-image img {
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
    margin-left: 50px;
}

#remove {
    height: 28px;
    width: 100px;
    background: #849FB1;
    border-radius: 2px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
    font-weight:700;
    border: 1px solid #849FB1;
    margin-left: 10px;
}

#upload {
    height: 28px;
    width: 100px;
    background: #333C45;
    border-radius: 2px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
    font-weight:700;
    border: 1px solid #333C45;
    margin-right: 10px;
}