.order {
    background:rgb(240, 240, 240);
}

.order .order-request-t {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.order .order-request-t .order-request-top {
    margin: 50px;
    margin-bottom: 0px;
    width: 920px;
    height: 100px;
    min-height: 100px;
    background: #FFFFFF;
    border-bottom: 1px solid #DEDEDE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.order .order-request-t .order-request-top h3 {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #222A30;
    margin-left: 40px;
    margin-top: 40px;
}

.order .order-request-m {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

.order .order-request-m .order-request-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 0px;
    width: 920px;
    background: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


































.order .order-request-m .order-request-main .order-request-main-left {
    margin: 20px;
    margin-top: 50px;
    width: 350px;
    height: 800px;

}

textarea {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    width: 320px;
    height: 120px;
    margin-top: 15px;
}

.order .order-request-m .order-request-main .order-request-main-left section {
    margin-top: 20px;
}

#order-cost {
    width: 320px;
}

#order-date {
    width: 150px;
}

#order-schedule {
    width: 150px;
}


















.order .order-request-m .order-request-main .order-request-main-right {
    margin: 20px;
    margin-top: 50px;
    width: 350px;
    height: 800px;

}