.order {
    background:rgb(240, 240, 240);
}

.order .order-request-t {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.order .order-request-t .order-request-top {
    margin: 50px;
    margin-bottom: 0px;
    width: 920px;
    height: 100px;
    min-height: 100px;
    background: #FFFFFF;
    border-bottom: 1px solid #DEDEDE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.order .order-request-t .order-request-top h3 {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #222A30;
    margin-left: 40px;
    margin-top: 40px;
}

.order .order-request-m {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

.order .order-request-m .order-request-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 0px;
    width: 920px;
    background: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.order .order-request-m .order-request-main .order-request-main-left {
    margin: 20px;
    margin-top: 50px;
    width: 350px;
}

textarea {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    width: 320px;
    height: 120px;
    margin-top: 15px;
}

.order .order-request-m .order-request-main .order-request-main-left section {
    margin-top: 20px;
}

#cost-range-from {
    width: 130px;
    margin-right: 10px;
}

#cost-range-to {
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
}

#items {
    width: 295px;
    background-image: url(./assets/add-request-circle.png);
    background-repeat: no-repeat;
    padding-left:30px;
    background-size: 15px 15px;
    background-position: 10px;
}

#add {
    width: 30px;
    height: 15px;
    margin-left: 299px;
    margin-top: 8px;
}

#add-item-link {
    cursor: pointer;
}

#delete-item-link {
    cursor: pointer;
    margin-left: 10px;
}

#delete-item-block {
    display: flex;
    align-items: center;
    margin-top: -22px;
}

#delete-item-block p {
    margin-left: 10px;
    margin-top: 10px;
    font-family: Helvetica;
    font-size: 15px;
    line-height: 29px;
}

#delete-item {
    width: 12px;
    height: 12px;
}

#date {
    width: 130px;
}

#schedule {
    width: 135px;
    height: 34px;
    margin-top: 12px;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
}

.order .order-request-m .order-request-main .order-request-main-right {
    margin: 20px;
    margin-top: 50px;
    width: 350px;
}

#address-departure {
    width: 320px;
    margin-left: 10px;
}

#oval-dsa {
    width: 14px;
    height: 14px;
}

.oval-address {
    width: 8px;
    height: 8px;
    margin-left: 4px;
}

#delivery-address {
    width: 320px;
    margin-left: 10px;
}

#oval-asd {
    width: 14px;
    height: 17px;
}

#map {
    margin-top: 30px;
    height: 470px;
    width: 350px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#order-request-submit-button {
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F71117;
    border-radius: 4px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
    font-weight: bold;
    border: 3px solid #F71117;
    margin-bottom: 30px;
}

#order-request-errors {
    color: #F71117;
    font-family: Helvetica;
    margin-top: 5px;
    margin-left: 27px;
    font-size: 12px;
    font-weight: 500;
}