.customerSignUp {
    background:rgb(240, 240, 240);
    width: 100%;
    height: 900px;
}

.customerSignUp .customerSignUp-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Helvetica;
    font-size: 16px;
    background: #FFFFFF;
}

.customerSignUp .customerSignUp-top a img {
    height: 58px;
    width: 166px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.customerSignUp .customerSignUp-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customerSignUp .customerSignUp-main .customerSignUp-main-box {
    background: #FFFFFF;
    border-radius: 4px;
    width: 540px;
    height: 219px;
    margin:50px;
}

.customerSignUp .customerSignUp-main .customerSignUp-main-box h3{
    font-family: Helvetica;
    font-size: 18px;
    color: #222A30;
    letter-spacing: 0;

    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 70px;
}