.sign-in {
    background:rgb(240, 240, 240);
    width: 100%;
    height: 900px;
}

.sign-in .sign-in-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Helvetica;
    font-size: 16px;
    background: #FFFFFF;
}

.sign-in .sign-in-top a img {
    height: 58px;
    width: 166px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-in .sign-in-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign-in .sign-in-main .sign-in-main-box {
    background: #FFFFFF;
    border-radius: 4px;
    width: 390px;
    min-width: 390px;
    height: 700px;
    margin:50px;
    display: flex;
    flex-direction: column;
}

.sign-in .sign-in-main .sign-in-main-box h3 {
    font-family: Helvetica;
    font-size: 14px;
    color: #222A30;
    letter-spacing: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.sign-in .sign-in-main .sign-in-main-box button {
    display: flex;
    align-items: center;
    background: #1976F3;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 15px;
    font-weight:600;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 19px;
    width: 287px;
    height: 40px;
    margin-left: 50px;
}

.sign-in .sign-in-main .sign-in-main-box button img {
    width: 30px;
    height: 30px;
    margin: 20px;
}

#sign-in-title {
    font-family: Helvetica;
    font-size: 18px;
    color: #222A30;
    letter-spacing: 0;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 50px;
}

#sign-in-with-facebook {
    text-decoration: none;
}

.sign-in .sign-in-main .sign-in-main-box .sign-in-form .input .sign-in-label {
    color: #222A30;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 500;
}

.sign-in .sign-in-main .sign-in-main-box .sign-in-form .input .sign-in-input {
    margin-left: 50px;
}

.sign-in .sign-in-main .sign-in-main-box .sign-in-form .sign-in-submit-button {
    width: 287px;
    height: 40px;
    background: #F71117;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 15px;
    font-weight:600;
    letter-spacing: 0;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border: 3px solid #F71117;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 50px;
}

#errors {
    color: #F71117;
    font-family: Helvetica;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 12px;
    font-weight: 500;
}
