#rendered-delivered-requests {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#description-delivered {
    margin-right: 10px;
}

#status-delivered {
    background-color: forestgreen;
    border-radius: 4px;
    margin-left: 10px;
}
