.profile {
    background:rgb(240, 240, 240);
}

.profile-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica;
    font-size: 16px;
    background: #FFFFFF;
}

.profile-top a img {
    height: 58px;
    width: 166px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-top button {
    height: 50px;
    width: 255px;
    background: #F71117;
    border-radius: 4px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-top button img {
    height: 13px;
    width: 13px;
    margin-right: 15px;
}

.profile-top a {
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-top a p {
    height: 18px;
    width: 104px;
    color: #222A30;
}

#user-name-image {
    display: flex;
}

#image-icon-top {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 4px;
}

.profile-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

