.on-hold {
    background:rgb(240, 240, 240);
    min-height: 580px;
}

.on-hold .on-hold-requests-t {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.on-hold .on-hold-requests-t .on-hold-requests-top {
    margin: 50px;
    margin-bottom: 0px;
    width: 920px;
    height: 100px;
    min-height: 100px;
    background: #FFFFFF;
    border-bottom: 1px solid #DEDEDE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.on-hold .on-hold-requests-t .on-hold-requests-top h3 {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #222A30;
    margin-left: 40px;
    margin-top: 40px;
}

.on-hold .on-hold-requests-m {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.on-hold .on-hold-requests-m .on-hold-requests-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 0px;
    width: 920px;
    background: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.on-hold .on-hold-requests-m .on-hold-requests-main .render-on-hold-requests {
    font-family: Helvetica;
    margin-top: 40px;
}

.on-hold .on-hold-requests-m .on-hold-requests-main .render-on-hold-requests .on-hold-requests-info-and-button-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.on-hold .footer{
    margin-top: 0px;
}

#on-hold-requests-details-button {
    width: 110px;
    height: 30px;
    background: #F71117;
    border-radius: 4px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
    font-weight: bold;
    border: 3px solid #F71117;
    margin-left: 130px;
}

#on-hold-requests-errors {
    color: #F71117;
    font-family: Helvetica;
    margin-top: 5px;
    margin-left: 27px;
    font-size: 12px;
    font-weight: 500;
}