.sign-up {
    background:rgb(240, 240, 240);
    width: 100%;
    height: 1200px;
}

.sign-up .sign-up-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Helvetica;
    font-size: 16px;
    background: #FFFFFF;
}

.sign-up .sign-up-top a img {
    height: 58px;
    width: 166px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-up .sign-up-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign-up .sign-up-main .sign-up-main-box {
    background: #FFFFFF;
    border-radius: 4px;
    width: 390px;
    min-width: 390px;
    height: 800px;
    margin:50px;
    display: flex;
    flex-direction: column;
}

.sign-up .sign-up-main .sign-up-main-box h3 {
    font-family: Helvetica;
    font-size: 14px;
    color: #222A30;
    letter-spacing: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.sign-up .sign-up-main .sign-up-main-box button {
    display: flex;
    align-items: center;
    background: #1976F3;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 15px;
    font-weight:600;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 19px;
    width: 287px;
    height: 40px;
    margin-left: 50px;
}

.sign-up .sign-up-main .sign-up-main-box button img {
    width: 30px;
    height: 30px;
    margin: 20px;
}

#sign-up-title {
    font-family: Helvetica;
    font-size: 18px;
    color: #222A30;
    letter-spacing: 0;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 50px;
}

#sign-up-with-facebook {
    text-decoration: none;
}

.sign-up .sign-up-main .sign-up-main-box .sign-up-form .input .sign-up-label {
    color: #222A30;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 500;
}

.sign-up .sign-up-main .sign-up-main-box .sign-up-form .input .sign-up-input {
    margin-left: 50px;
}

.sign-up .sign-up-main .sign-up-main-box .sign-up-form .sign-up-submit-button {
    width: 287px;
    height: 40px;
    background: #F71117;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 15px;
    font-weight:600;
    letter-spacing: 0;
    line-height: 19px;
    cursor: pointer;
    border: 3px solid #F71117;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 50px;
}

#errors {
    color: #F71117;
    font-family: Helvetica;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 12px;
    font-weight: 500;
}